.back-ground {
  background-color: #eef9bf;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}

.back-ground p {
  text-align: center;
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
  color: rgba(117, 183, 158, 1);
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px;
  }


.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .frente {
    height: 100px;
    width: 100px;
  }

  .tras {
    height: 100px;
    width: 100px;
  }

.back-face {
    transform: rotateY(180deg);
  }

.front-face {
    backface-visibility: hidden;
    
  }

.clicado {
    transform: rotateY(180deg);
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .desclicado {
    transform: rotateY(-180deg);
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .escondido {
    display: none;
  }